#ios
   h1.list-title IOS开发
   .card
      .card-block
         h5.card-title 项目：Google+ Moe
         p.card-text 使用Alamofire完成占卜和天气API数据请求，JSONCodable完成数据解析，归档功能完成保存至本地。基本功能与设计完成，卡在自动布局与适配。有种前端开发初期，用jquery事件驱动完成功能感觉。
      .card-block
         img.img-reponsive.img-rounded(src="/static/img/google-moe/1.jpg")
         img.img-reponsive.img-rounded(src="/static/img/google-moe/2.png")

