#front-end
   h1.list-title 前端开发
   ul#javascript.list-group
      li.list-group-item
         | 正在使用：
         span CoffeeScript ------> ES5
      li.list-group-item
         | 未使用：
         span ES6 -----> Babel ------> ES5
      li.list-group-item
         | 未使用：
         span Angularjs2 -----> TypeScript ------> ES5
      li.list-group-item 我只想吐槽而已，估计要ES6了。
   //work experience
   section
      h2.list-title Node
      p MongoDB和以下的库与框架，已有一年未使用，API应该翻天覆地了.
      div
         span.label.label-default Express
         span.label.label-default mongoose
         span.label.label-default Q
         span.label.label-default async
         span.label.label-default socket.io
         span.label.label-default superagent
         span.label.label-default jwt


