#profile {
  .summary {
    padding: {
      bottom: 1rem;
    }
    border-bottom: $gray-lighter solid 1px;
    > li {
      border: none;
      .label {
        margin-right: 1rem;
        font-weight: normal;
      }
      #skill {
        > li {
          margin: .25rem 0;
          max-height: 10rem;
          transition: all 1s ease-out;
          &.ng-enter, &.ng-leave.ng-leave-active {
            opacity: 0;
            max-height: 0;
          }
          &.ng-enter-stagger {
            transition-delay: 0.1s;
            transition-duration: 0s;
          }
          &.ng-enter.ng-enter-active, &.ng-leave {
            opacity: 1;
            max-height: 10rem;
          }
        }
      }
    }
  }
  #work-experience {
    padding-top: 1rem;
  }
}